/* Configs padrão. */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fafafa;
    color: #262626;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    background-color: none;
    border: none;
    cursor: pointer;
}

/* Configs específicas. */
/* A configuração que está mais abaixo sempre prevalece! */

/* Barra lateral. */

nav.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 260px;
    height: 100vh;
    background-color: #ffffff;
    border-right: 1px solid rgba(177, 177, 177, 0.281);
}

h1.logo {
    margin-bottom: 45px;
    margin-top: 20px;
    font-size: 40px;
    font-family: cursive;
    text-align: center;
}

nav.menu {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

a.menu-item {
    display: flex;
    flex-direction: row;
    gap: 16px;
    padding: 13px 18px;
    font-size: 20px;
    border-radius: 15px;
}

a.menu-item span {
    width: 25px;
    font-size: 25px;
    text-align: center;
    margin-top: -6px;
}

a.menu-item:hover {
    background-color: rgba(197, 197, 197, 0.568);
    transition: 0.5s;
    transform: scale(1.01);
}

/* Página principal. */

main.content {
    width: 700px;
    margin-left: 300px;
    margin-top: 100px;
}

section.stories {
    display: flex;
    flex-direction: row;
    gap: 18px;
    margin-bottom: 30px;
    overflow: hidden;
}

div.story {
    width: 100px;
    text-align: center;
    font-size: 12px;
    flex-shrink: 0;
}

div.story img {
    width: 85px;
    height: 85px;
    border-radius: 50%;
    border: 3px solid #ffffff;
    object-fit: cover;
}

div.story-border {
    width: 93px;
    height: 93px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    border-radius: 50%;
    background: linear-gradient(45deg,
            #feda75,
            #fa7e1e,
            #d62976,
            #962fbf,
            #4f5bb5);
}

/* Feed. */

section.feed {
    display: flex;
    gap: 35px;
    flex-direction: column;
}

article.post {
    display: flex;
    flex-direction: column;
    gap: 12px;
    border-bottom: 1px solid #73737336;
    padding-bottom: 30px;
}

header.post-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

div.post-user img {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    object-fit: cover;
}

div.post-user {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

div.post-user div {
    display: flex;
    flex-direction: column;
    font-size: 14px;
}

div.post-user span {
    font-size: 12px;
    color: 737373;
    margin-top: 2px;
}

button.more {
    font-size: 18px;
    background-color: transparent;
}

img.post-img {
    display: block;
    width: 100%;
    height: 500px;
    object-fit: cover;
    border-radius: 4px;
    border: 1px solid #dbdbdb;
}

div.post-actions {
    display: flex;
    justify-content: space-between;
    padding: 10px 1px;
}

div.post-actions button {
    background-color: transparent;
    margin-right: 10px;
    font-size: 27px;
}

div.post-actions button:hover {
    opacity: 0.5;
    transform: scale(1.1);
}

div.post-info {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 14px;
}

div.post-info a {
    color: #737373;
}

span.post-date {
    margin-top: 3px;
    font-size: 10px;
    color: #737373;
}